.experiencia {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}
.experiencia h1 {
  font-size: 9rem;
  /* word-break: break-all; */
  text-transform: uppercase;
  color: #e0e0e0;
}

.experiencia p {
  font-size: 2rem;
  color: #525252;
}

.experiencia ul {
  grid-column: 2;
}
