body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 1000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
