.foto-perfil {
  max-width: 100%;
}

.introducao-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

.introducao-texto {
  position: relative;
}

.introducao-texto h1 {
  font-size: 4rem;
}

.introducao-texto p {
  color: #525252;
  font-size: 2rem;
}

.introducao-texto::after {
  content: url("/img/detalhe.svg");
  width: 4rem;
  height: 1rem;
  position: absolute;
  left: -50px;
  top: -40px;
  z-index: -1;
  /* background-image: url("/img/detalhe.svg"); */
}
