.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.introducao p {
  color: #525252;
  font-size: 2rem;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  z-index: -1;
  background: url("/img/detalhe.svg") no-repeat center;
  position: absolute;
  left: -40px;
  top: -20px;
}

@media (max-width: 700px) {
  .introducao-texto::after {
    width: 10px;
    height: 10px;
    z-index: 2;
  }
}
