.task-row {
  display: flex;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 200px;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.complete {
  background-color: #ccc;
}
